![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

# Analysis

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)        # Prevent line-wrapping

In [66]:
df = pd.read_csv('schools.csv')

In [67]:
print(df.head())

                                         school_name    borough building_code  average_math  average_reading  average_writing  percent_tested
0  New Explorations into Science, Technology and ...  Manhattan          M022           657              601              601             NaN
1                               Essex Street Academy  Manhattan          M445           395              411              387            78.9
2                       Lower Manhattan Arts Academy  Manhattan          M445           418              428              415            65.1
3    High School for Dual Language and Asian Studies  Manhattan          M445           613              453              463            95.9
4      Henry Street School for International Studies  Manhattan          M056           410              406              381            59.7

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

# Q1

Which NYC schools have the best math results?
- The best math results are at least 80% of the *maximum possible score of 800* for math.
- Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [69]:
max_math = df['average_math'].max() 
print("Max math score:", max_math, "and 80% of max:", 0.8 * max_math)
best_math_schools = df[df['average_math'] > 0.8 * max_math]

Max math score: 754 and 80% of max: 603.2

In [70]:
best_math_schools = best_math_schools[['school_name', 'average_math']]
best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)

In [71]:
print(best_math_schools.head())

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

# Q2

What are the top 10 performing schools based on the combined SAT scores?
- Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

In [72]:
print(df.head())

                                         school_name    borough building_code  average_math  average_reading  average_writing  percent_tested
0  New Explorations into Science, Technology and ...  Manhattan          M022           657              601              601             NaN
1                               Essex Street Academy  Manhattan          M445           395              411              387            78.9
2                       Lower Manhattan Arts Academy  Manhattan          M445           418              428              415            65.1
3    High School for Dual Language and Asian Studies  Manhattan          M445           613              453              463            95.9
4      Henry Street School for International Studies  Manhattan          M056           410              406              381            59.7

In [73]:
df_sat = df.copy()

df_sat["total_sat"] = df_sat['average_math'] + df_sat['average_reading'] + df_sat['average_writing']

df_sat_only = df_sat[['school_name', 'total_sat']]
df_sat_only = df_sat_only.sort_values(by='total_sat', ascending=False)
print(df_sat_only.head(10))

                                           school_name  total_sat
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# Q3

Which single borough has the largest standard deviation in the combined SAT score?
- Save your results as a pandas DataFrame called largest_std_dev.
- The DataFrame should contain one row, with:
    - "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
    -   "num_schools" - the number of schools in the borough.
    -   "average_SAT" - the mean of "total_SAT".
    -   "std_SAT" - the standard deviation of "total_SAT".
    -   Round all numeric values to two decimal places.

In [74]:
print(df_sat.head())

                                         school_name    borough building_code  average_math  average_reading  average_writing  percent_tested  total_sat
0  New Explorations into Science, Technology and ...  Manhattan          M022           657              601              601             NaN       1859
1                               Essex Street Academy  Manhattan          M445           395              411              387            78.9       1193
2                       Lower Manhattan Arts Academy  Manhattan          M445           418              428              415            65.1       1261
3    High School for Dual Language and Asian Studies  Manhattan          M445           613              453              463            95.9       1529
4      Henry Street School for International Studies  Manhattan          M056           410              406              381            59.7       1197

In [ ]:
borough_stats = df_sat.groupby('borough')['total_sat'].agg(['count', 'mean', 'std']).round(2)

In [87]:
borough_stats.columns = ['num_schools', 'average_SAT', 'std_SAT']

# Find the borough with the largest standard deviation in SAT scores
largest_std_dev = borough_stats[borough_stats['std_SAT'] == borough_stats['std_SAT'].max()]

In [90]:
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29