# Analyzing River Thames Water Levels
Time series data is everywhere, from watching your stock portfolio to monitoring climate change, and even live-tracking as local cases of a virus become a global pandemic. In this project, you’ll work with a time series that tracks the tide levels of the Thames River. You’ll first load the data and inspect it data visually, and then perform calculations on the dataset to generate some summary statistics. You’ll end by reducing the time series to its component attributes and analyzing them. 

The original dataset is available from the British Oceanographic Data Center.

Here's a map of the locations of the tidal meters along the River Thames in London.

![](locations.png)

The provided datasets are in the `data` folder in this workspace. For this project, you will work with one of these files, `10-11_London_Bridge.txt`, which contains comma separated values for water levels in the Thames River at the London Bridge. After you've finished the project, you can use your same code to analyze data from the other files (at other spots in the UK where tidal data is collected) if you'd like. 

The TXT file contains data for three variables, described in the table below. 

| Variable Name | Description | Format |
| ------------- | ----------- | ------ |
| Date and time | Date and time of measurement to GMT. Note the tide gauge is accurate to one minute. | dd/mm/yyyy hh:mm:ss |
| Water level | High or low water level measured by tide meter. Tide gauges are accurate to 1 centimetre. | metres (Admiralty Chart Datum (CD), Ordnance Datum Newlyn (ODN or Trinity High Water (THW)) | 
| Flag | High water flag = 1, low water flag = 0 | Categorical (0 or 1) |

Analyze Thames River tidal data to track changes in high-tide and low-tide frequency over time.

The data is in the `data/10-11_London_Bridge.txt` file.

- Find the mean, median, and interquartile range for high- and low-tide data and save them as two separate `pandas` Series.

In [12]:
# Package imports
import pandas as pd                

def IQR(column): 
    q25, q75 = column.quantile([0.25, 0.75])
    return q75-q25

# Load the data from London Bridge
df = pd.read_csv('data/10-11_London_Bridge.txt') 

print(df.head())

         Date and time  water level (m ODN)   flag   HW=1 or LW=0
0  01/05/1911 15:40:00               3.7130      1            NaN
1  02/05/1911 11:25:00              -2.9415      0            NaN
2  02/05/1911 16:05:00               3.3828      1            NaN
3  03/05/1911 11:50:00              -2.6367      0            NaN
4  03/05/1911 16:55:00               2.9256      1            NaN

In [13]:
df = df.drop(columns=[' HW=1 or LW=0'], axis=1)
df.columns = ['datetime', 'water_level', 'is_high_tide']
print(df.columns)

Index(['datetime', 'water_level', 'is_high_tide'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115503 entries, 0 to 115502
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime      115503 non-null  object
 1   water_level   115503 non-null  object
 2   is_high_tide  115503 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [16]:
df['datetime'] = pd.to_datetime(df['datetime'], format="%d/%m/%Y %H:%M:%S")
df['water_level'] = df.water_level.astype(float)

df['month'] = df['datetime'].dt.month
df['year'] = df['datetime'].dt.year

tide_high = df[df['is_high_tide'] == 1]
tide_low = df[df['is_high_tide'] == 0]

high_statistics = tide_high['water_level'].agg(['mean', 'median', IQR])
low_statistics = tide_low['water_level'].agg(['mean', 'median', IQR])

print(high_statistics)
print(low_statistics)

mean      3.318373
median    3.352600
IQR       0.743600
Name: water_level, dtype: float64
mean     -2.383737
median   -2.412900
IQR       0.538200
Name: water_level, dtype: float64

- Calculate the annual percentage of days with very high tide levels (90th percentile of high tide days) and low-tide days (below the 10th percentile), and store the results for each year as floats in two two-column DataFrames with the index reset.

In [17]:
# Calculate ratio of high tide days
all_high_days = tide_high.groupby('year')['water_level'].count()
very_high_days = tide_high[tide_high['water_level'] > tide_high['water_level'].quantile(0.90)].groupby('year')['water_level'].count()
very_high_ratio = (very_high_days/all_high_days).reset_index()

# Calculate ratio of low tide days
all_low_days = tide_low.groupby('year')['water_level'].count()
very_low_days = tide_low[tide_low['water_level'] < tide_low['water_level'].quantile(0.10)].groupby('year')['water_level'].count()
very_low_ratio = (very_low_days/all_low_days).reset_index()

- Create a dictionary named `solution` with a summary of your data analysis, with these key-value pairs:

`{high_statistics: high-tide stats, low_statistics: low-tide stats, very_high_ratio: high-tide ratio data, very_low_ratio: low-tide ratio data}`

In [18]:
solution = {'high_statistics': high_statistics, 'low_statistics': low_statistics, 'very_high_ratio': very_high_ratio, 'very_low_ratio':very_low_ratio}

print(solution)

{'high_statistics': mean      3.318373
median    3.352600
IQR       0.743600
Name: water_level, dtype: float64, 'low_statistics': mean     -2.383737
median   -2.412900
IQR       0.538200
Name: water_level, dtype: float64, 'very_high_ratio':     year  water_level
0   1911     0.004098
1   1912     0.032316
2   1913     0.082212
3   1914     0.055313
4   1915     0.045045
..   ...          ...
80  1991     0.096317
81  1992     0.103253
82  1993     0.145923
83  1994     0.150355
84  1995     0.170213

[85 rows x 2 columns], 'very_low_ratio':     year  water_level
0   1911     0.060606
1   1912     0.066667
2   1913     0.022388
3   1914     0.039017
4   1915     0.033435
..   ...          ...
80  1991     0.150355
81  1992     0.107496
82  1993     0.112696
83  1994     0.106383
84  1995     0.107801

[85 rows x 2 columns]}