![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

In [4]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

pd.set_option("display.width", 1000)

# Begin coding here ...
airbnb_price=pd.read_csv('data/airbnb_price.csv')
airbnb_room_type=pd.read_excel('data/airbnb_room_type.xlsx')
airbnb_last_review=pd.read_csv('data/airbnb_last_review.tsv',sep='\t')

In [2]:
# Join the three data frames together into one
listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')
listings = pd.merge(listings, airbnb_last_review, on='listing_id')

In [5]:
print(listings.head())

   listing_id        price                nbhood_full                                description        room_type    host_name   last_review
0        2595  225 dollars         Manhattan, Midtown                      Skylit Midtown Castle  Entire home/apt     Jennifer   May 21 2019
1        3831   89 dollars     Brooklyn, Clinton Hill            Cozy Entire Floor of Brownstone  Entire home/apt  LisaRoxanne  July 05 2019
2        5099  200 dollars     Manhattan, Murray Hill  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt        Chris  June 22 2019
3        5178   79 dollars  Manhattan, Hell's Kitchen            Large Furnished Room Near B'way     private room     Shunichi  June 24 2019
4        5238  150 dollars       Manhattan, Chinatown         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt          Ben  June 09 2019

- What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [6]:
listings['last_review_date'] = pd.to_datetime(listings['last_review'], format='%B %d %Y')
first_reviewed = listings['last_review_date'].min()
last_reviewed = listings['last_review_date'].max()

print("First review:", first_reviewed)
print("Most recent review:", last_reviewed)

First review: 2019-01-01 00:00:00
Most recent review: 2019-07-09 00:00:00

- How many of the listings are private rooms? Save this into any variable.

In [7]:
listings['room_type'] = listings['room_type'].str.lower()
private_room_count = listings[listings['room_type'] == 'private room'].shape[0]

print(private_room_count)

11356

- What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [9]:
listings['price_clean'] = listings['price'].str.replace(' dollars', '').astype(float)
avg_price = listings['price_clean'].mean().round(2)

print(avg_price)

141.78

- Combine the new variables into one DataFrame called `review_dates` with four columns in the following order: `first_reviewed`, `last_reviewed`, `nb_private_rooms`, and `avg_price`. The DataFrame should only contain one row of values.

In [10]:
# Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.
review_dates=pd.DataFrame({'first_reviewed':[first_reviewed],
                        'last_reviewed':[last_reviewed],
                        'nb_private_rooms':[private_room_count],
                        'avg_price':[avg_price]})
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78